*{
    margin: 0;
    padding: 0;
    /*font-size: 16px;*/
    /*background: #f4f4f4;*/
}
ul{
    list-style: none;
}
a{
    /*display: block;*/
    text-decoration: none !important;
}
body{
    background: #f4f4f4;
}
.clear{
    clear: both;
}

/*----------------------------------header-top部分*/
.header{
    /*width: 100%;*/
    height: 36px;
    background: #484848;
}
.container{
    width: 1280px;
    position: relative;
}
.header-top-left-ul{
    /*padding-left: 10px;*/
    height: 36px;
}
.header-top-left li{
    display: inline-block;
    margin-left: 14px;
}
.header-top-left-ul a{
    line-height: 36px;
    text-decoration: none;
    color: #999;
    font-size: 14px;
    transition: all 0.5s;
}
a:hover{
    color: #ececec;
}
.header-top-right_1 a{
    text-decoration: none;
    color: #999;
    height: 36px;
}
.header-top-right_2 a{
    text-decoration: none;
    color: #999;
    height: 36px;
}
.header-top-right_1{
    position: absolute;
    width: 120px;
    height: 186px;
    /*background: red;*/
    display: inline-block;
    text-align: center;
    line-height: 36px;
    top: 0;
    right: 140px;
    /*z-index: 999;*/
}
.header-top-right_1 .xs{
    width: 120px;
    height: 36px;
    /*z-index: 2;*/
}
.header-top-right_2{
    position: absolute;
    width: 120px;
    height: 186px;
    /*background: green;*/
    display: inline-block;
    text-align: center;
    line-height: 36px;
    right: 0;
    top: 0;
    /*z-index: 5;*/
}
.header-top-right_1_child{
    width: 120px;
    height: 150px;
    background: #fff;
    box-shadow: 0 0 7px rgba(1,1,1,0.6);
}
.header-top-right_1_child ul{
    width: 120px;
    height: 156px;
}
.header-top-right_1_child ul li{
    height: 36px !important;
    width: 100%;
}
.header-top-right_1_child ul li a{
    padding: 0 10px 0 10px;
    width: 120px;
    height: 36px;
    display: block;
    line-height: 36px;
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.header-top-right_1_child ul li a .span1{
    padding: 0 10px 0 0;
}
.header-top-right_1_child ul li a img {
    /*position: absolute;*/
    left: 10px;
    width: 20px;
    height: 20px;
}
span:hover{
    color: orange;
}
.header-top-right_2_child{
    width: 120px;
    height: 150px;
    /*background: red;*/
}
.header-top-right_2_child img{
    width: 120px;
    height: 150px;
}
.dsp{
    display: none;
}

/*----------------------------------header-nav部分*/
.header-nav{
    height: 82px;
    background: #fff;
    /*z-index: 66;*/
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 2px  rgba(0,0,0,0.2);
    /*position: relative;*/
    margin-top: -10px;
}
.header-nav .container{
    width: 1280px;
    /*position: relative;*/
}
.header-nav .logo{
    display: inline-block;
    padding: 28px 0;
    margin-left: 28px;
    position: absolute;
    left: 0;
    z-index: 33;
}
.header-nav .header-nav-content{
    margin: 0 auto;
    width: 520px;
    height: 82px;
    /*background: yellow;*/
}
.header-nav .header-nav-content li{
    /*display: inline-block;*/
    float: left;
    /*margin-left: 30px;*/
}
.header-nav .header-nav-content li a{
    text-align: center;
    font-size: 16px;
    line-height: 60px;
    text-decoration: none;
    width: 64px;
    padding: 32px 18px 34px 18px;
}
/*-------------------------------搜索栏样式*/
.header-nav .search{
    position: absolute;
    width: 170px;
    height: 30px;
    margin: 26px 5px 0 10px;
    right: 200px;
    top: 0;
    line-height: 24px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    z-index: 9999;
}
.header-nav .search input{
    vertical-align: middle;
    outline: 0;
    border: 0;
    width: 120px;
    height: 20px;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    color: #333;
}
.header-nav .search a {
    background: url("../img/search.png") no-repeat center center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 36px;
    height: 30px;
    text-decoration: none;
    line-height: 30px;
    border-radius: 0 5px 5px 0;
}
/*-----------------------------------登录区样式*/
.login{
    position: absolute;
    width: 90px;
    height: 225px;
    /*background: red;*/
    right: 100px;
    top: 0;
    /*z-index: 33;*/
}
.login-head{
    width: 90px;
    height: 70px;
    /*background: green;*/
}
.login-head-1{
    width: 29px;
    height: 29px;
    margin: 0 auto;
}
.login-head img{
    width: 29px;
    height: 29px;
    margin-top: 27px;
    cursor: pointer;
}
.login-menu{
    width: 90px;
    height: 155px;
    /*border: 1px solid #000;*/
    background: #fff;
    box-shadow: 0 0 5px #000;
    /*display: none;*/
}
.login-menu ul li a{
    height: 35px;
    display: block;
    padding-top: 8px;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
.login-menu ul li a:hover{
    color: #2aabd2;
}
/*-------------------------购物车区样式*/
.shopping-car{
    position: absolute;
    right: 50px;
    top: 0;
    width: 70px;
    height: 82px;
    /*background: red;*/
}
.shopping-car a{
    display: block;
    text-align: center;
    line-height: 80px;
}
.shopping-car a em{
    position: absolute;
    display: inline-block;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    background: #c00;
    color: #fff;
    padding: 0 4px;
    top: 25px;
    right: 15px;
}
/*子菜单*/
.header-nav .mainMenu{
    position: relative;
    /*width: 100%;*/
    height: 82px;
    /*background: green;*/
    /*padding: 10px 0 10px 0;*/
    /*margin-left: -10px;*/
}
.childMenu{
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 198px;
    background: #fff;
    /*z-index: 32;*/
    /*box-shadow: 0 5px 10px rgba(0.0.0.0.1);*/
    /*opacity: 0.8;*/
    overflow: hidden;
    border-bottom: 1px solid #fff;
    box-shadow: 0 2px 2px  rgba(0,0,0,0.4);
    top: 0;
    /*animation: move 0.4s linear 0s 1;*/
}
/*@keyframes move{*/
    /*0%{*/
        /*height: 0px;*/
    /*}*/
    /*100%{*/
        /*height: 198px;*/
    /*}*/
/*}*/
.childMenu-content{
    width: 100%;
    height: 198px;
    padding: 0 20px 0 20px;
    /*background: green;*/
    /*border: 1px solid #000;*/
    overflow: hidden;
}
.header-nav-content a{
    color: #000;
    transition: all 0.3s;
}
.header-nav-content a:hover{
    color: cornflowerblue;
}
.childMenu-div{
    /*margin: 0 auto;*/
    width: 1280px;
    height: 170px;
    /*border: 1px solid #000;*/
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -640px;

}
.childMenu-ul{
    width: 1280px;
    /*position: absolute;*/
    overflow: hidden;
    padding: 5px 0 0 140px;
    margin: 0 auto;
    top: 0;
}
.childMenu-content li{
    float: left;
}
.childMenu-content a{
    width: 139px;
    height: 151px;
    /*background: red;*/
    opacity: 0.5;
    text-decoration: none;
    padding-right: 16px;
}
.childMenu-content a img{
    width: 120px;
    height: 120px;
}
.childMenu-content a span{
    /*padding-top: 10px;*/
    /*padding-left: 35px;*/
    width: 120px;
    height: 20px;
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}
.childMenu-content a em{
    display: block;
    width: 120px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    color: #000;
}
.childMenu-content a:hover{
    opacity: 1;
}
.childMenu-content a:hover span{
    color: #000;
}
.div2{
    margin: 0 auto;
    position: relative;
    width: 1240px;
    height: 500px;
    /*border: 1px solid #000;*/
}
/*----------------------------banner图片轮播*/
.banner{
    position: relative;
    width: 1240px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.banner-side{
    width: 1240px;
    height: 500px;
    background-repeat: no-repeat;
    position: absolute;
    display: none;
    /*animation: move 0.4s linear 0s 1;*/
}

/*@keyframes move{*/
/*0%{*/
    /*width: 0;*/
/*}*/
/*100%{*/
    /*width: 1240px;*/
    /*}*/
/*}*/
.side-active{
    display: block;
}
.side1{
    background-image: url("../img/banner1.jpg");
}
.side2{
    background-image: url("../img/banner2.jpg");
}
.side3{
    background-image: url("../img/banner3.jpg");
}
.side4{
    background-image: url("../img/banner4.jpg");
}
.side5{
    background-image: url("../img/banner5.jpg");
}

.banner-menu-nav{
    position: absolute;
    width: 300px;
    height: 500px;
    left: 0;
    top: 0;
    background: #000;
    /*z-index: 1;*/
    opacity: 0.3;
}
.banner-menu-nav-content{
    width: 300px;
    height: 495px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 5px;
    /*background: red;*/
    /*z-index: 2;*/
}
.menu-nav-content-item{
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
}
.menu-nav-content-item a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
.menu-nav-content-item span{
    transition: all 0.2s;
}
.menu-nav-content-item span:hover{
    color: #2aabd2 !important;
}
/*-----------------------------------圆点切换区*/
.dots{
    position: absolute;
    left: 330px;
    bottom: 20px;
    text-align: left;
}
.dots span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 3px;
    border-radius: 50%;
    background: rgba(7,17,27,0.5);
    box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;
    cursor: pointer;
}
.dots .active{
    background: #fff;
    box-shadow: 0 0 0 2px rgba(7,17,27,0.5) inset;
}
/*-----------------------------主要内容*/

.content{
    position: absolute;
    width: 100%;
    height: auto;
    top: 640px;
    /*border: 1px solid #000;*/
}
/*-------------------------------------主要内容1*/
.content .content_1{
    width: 1240px;
    height: 180px;
    margin: 0 auto;
    /*background: #2aabd2;*/
}
.content ul li{
    transition: all 0.5s;
}
.content .content_1 .li-left{
    width: 303px;
    height: 180px;
    overflow: hidden;
    margin-right: 9px;
    float: left;
}
.content .content_1 .li-right{
    width: 303px;
    height: 180px;
    overflow: hidden;
    /*margin-right: 7px;*/
    float: right;
}
.content  a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
.content  a:hover{
    opacity: 0.8;
    transform: scale(1.2);
}
.content  li:hover{
    box-shadow: 0 0 15px gray;
}

/*-------------------------------------主要内容2*/
.content_2{
    width: 1240px;
    height: auto;
    margin: 60px auto;
    /*background: #2aabd2;*/
}
.content_2 .content_2-title{
    width: 1240px;
    height: 45px;
}
.content_2 .content_2-title h3{
    line-height: 45px;
    color: #999;
    font-weight: 300;
    font-size: 30px;
}
.content_2-nr{
    width: 1240px;
    margin: auto;
}
.content_2-nr li{
    display: flex;
    justify-content: center;
    background: #fff;
    transition: all 0.5s;
}
.content_2-nr .li-left{
    width: 303px;
    height: 400px;
    overflow: hidden;
    /*background: red;*/
    margin-right: 9px;
    float: left;
}
.content_2-nr .li-right{
    width: 303px;
    height: 400px;
    overflow: hidden;
    /*background: red;*/
    float: right;
}
.content_2-nr li div{
    width: 303px;
    height: 267px;
    /*background: green;*/
}
.content_2-nr li div a{
    text-decoration: none;
    display: block;
    text-align: center;
    transition: all 0.5s;
    background-repeat: no-repeat;
}
.content_2-nr li div a img{
    height: 230px;
    margin-top: 30px;
}
.span-content{
    display: block;
    width: 100%;
    /*height: 140px;*/
    /*background: #2aabd2;*/
}
.span-content span{
    padding-top: 20px;
    display: block;
    height: 30px;
    line-height: 30px;
}
.span-content .span1{
    color: #333;;
}
.span-content .span2{
    color: #999;
}
.span-content .span3{
    color: red;
    font-size: 22px;
}
.span-content .span3 i{
    font-size: 14px;
}
.span-content .span3 em{
    font-size: 14px;
}
.span-content .span3 s{
    font-size: 14px;
    color: #999;
}
.content .content_2 a:hover{
    /*opacity: 0.8;*/
    transform: scale(1.1);
}
.content .content_2 li:hover{
    box-shadow: 0 0 15px gray;
}


/*-------------------------------内容三*/
.content_3{
    width: 1240px;
    height: auto;
    margin: 60px auto;
    /*background: #2aabd2;*/
}
.content_3 .content_3-title{
    width: 100%;
    height: 45px;
}
.content_3 .content_3-title h3{
    line-height: 45px;
    color: #999;
    font-weight: 300;
    font-size: 30px;
}
.content_3-nr{
    width: 100%;
    height: auto;
    /*background:red;*/
}
.content_3-nr a{
    text-decoration: none;
    display: block;
    transition: all 0.5s;
}
.content_3-nr-left{
    width: 615px;
    height: 450px;
    /*background: greenyellow;*/
    float: left;
    overflow: hidden;
}
.content_3-nr-right{
    width: 615px;
    height: 450px;
    /*background: #9acfea;*/
    float: right;
}
.content_3-nr-right-top{
    width: 615px;
    height: 220px;
    /*background: orange;*/
    margin-bottom: 10px;
    overflow: hidden;
}
.content_3-nr-right-button{
    width: 615px;
    height: 220px;
    /*background: green;*/
}
.content_3-nr-right-button-1{
    width: 302px;
    height: 220px;
    /*background: red;*/
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.content_3-nr-right-button-2{
    width: 302px;
    height: 220px;
    overflow: hidden;
    float: left;
}
.content_3-nr .bs{
    transition: all 0.5s;
}
.content_3-nr a:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
.content_3-nr .bs:hover{
    box-shadow: 0 0 15px gray;
}

.content_3-nr2{
    width: 100%;
    /*height: auto;*/
    /*background: #9acfea;*/
    margin-top: 10px;
}
.content_3-nr2 .li-left{
    width: 303px;
    height: 400px;
    overflow: hidden;
    background: #fff;
    margin-right: 9px;
    margin-bottom: 9px;
    float: left;
}
.content_3-nr2 .li-right{
    width: 303px;
    height: 400px;
    overflow: hidden;
    background: #fff;
    float: right;
}
.content_3-nr2 li div{
    width: 303px;
    height: 267px;
    /*background: green;*/
}
.content_3-nr2 li div a{
    text-decoration: none;
    display: block;
    text-align: center;
    transition: all 0.5s;
    background-repeat: no-repeat;
}
.content_3-nr2 li div a img{
    height: 230px;
    margin-top: 30px;
}
.content .content_3-nr2 a:hover{
    /*opacity: 0.8;*/
    transform: scale(1.1);
}
.content .content_3-nr2 li:hover{
    box-shadow: 0 0 15px gray;
}

/*-----------------------内容4*/
.content_4{
    width: 1240px;
    height: auto;
    margin: 60px auto;
    /*background: #2aabd2;*/
}
.content_4 .content_4-title{
    width: 100%;
    height: 45px;
}
.content_4 .content_4-title h3{
    line-height: 45px;
    color: #999;
    font-weight: 300;
    font-size: 30px;
}
.content_4-nr{
    width: 100%;
    height: auto;
    /*background:red;*/
}
.content_4-nr a{
    text-decoration: none;
    display: block;
    transition: all 0.5s;
}
.content_4-nr-left{
    width: 615px;
    height: 450px;
    /*background: greenyellow;*/
    float: left;
    overflow: hidden;
}
.content_4-nr-right{
    width: 615px;
    height: 450px;
    /*background: #9acfea;*/
    float: right;
}
.content_4-nr-right-top{
    width: 615px;
    height: 220px;
    /*background: orange;*/
    margin-bottom: 10px;
    overflow: hidden;
}
.content_4-nr-right-button{
    width: 615px;
    height: 220px;
    /*background: green;*/
}
.content_4-nr-right-button-1{
    width: 302px;
    height: 220px;
    /*background: red;*/
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.content_4-nr-right-button-2{
    width: 302px;
    height: 220px;
    overflow: hidden;
    float: left;
}
.content_4-nr .bs{
    transition: all 0.5s;
}
.content_4-nr a:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
.content_4-nr .bs:hover{
    box-shadow: 0 0 15px gray;
}

.content_4-nr2{
    width: 100%;
    /*height: auto;*/
    /*background: #9acfea;*/
    margin-top: 10px;
}
.content_4-nr2 .li-left{
    width: 303px;
    height: 400px;
    overflow: hidden;
    background: #fff;
    margin-right: 9px;
    margin-bottom: 9px;
    float: left;
}
.content_4-nr2 .li-right{
    width: 303px;
    height: 400px;
    overflow: hidden;
    background: #fff;
    float: right;
}
.content_4-nr2 li div{
    width: 303px;
    height: 267px;
    /*background: green;*/
}
.content_4-nr2 li div a{
    text-decoration: none;
    display: block;
    text-align: center;
    transition: all 0.5s;
    background-repeat: no-repeat;
}
.content_4-nr2 li div a img{
    height: 230px;
    margin-top: 30px;
}
.content .content_4-nr2 a:hover{
    /*opacity: 0.8;*/
    transform: scale(1.1);
}
.content .content_4-nr2 li:hover{
    box-shadow: 0 0 15px gray;
}

/*----------------------------footer内容*/
.footer{
    position: absolute;
    top: 4600px;
    width: 100%;
    height: 300px;
    /*border: 1px solid #000;*/
    background: #fff;
}
.footer-content{
    margin: 40px auto;
    width: 1240px;
    height: 230px;
    /*border: 1px solid red;*/
}
.footer-content-top{
    width: 100%;
    height: 88px;
    /*background: green;*/
}
.footer-content-top-left{
    width: 1000px;
}
.footer-content-top-left ul{
    width: 1000px;
}
.footer-content-top-left ul li{
    float: left;
    text-align: center;
    width: 15%;
}
.footer-content-top-left ul li a{
    display: block;
    overflow: hidden;
}
.footer-content-top-left ul li a img{
    width: 50px;
    display: block;
    margin: 0 auto;
}
.footer-content-top-left ul li a span{
    line-height: 40px;
    color: #999;
    font-size: 12px;
}
.footer-content-top-right{
    float: right;
    text-align: right;
    /*background: #0aaee3;*/
}
.footer-content-top-right span{
    color: #999;
}
.footer-content-top-right p{
    font-size: 30px;
    color: #00c3f5;
}
.footer-content-top-right a{
    position: relative;
    top: -10px;
    height: 30px;
    /*border: 1px solid #000;*/
    overflow: hidden;
    padding: 8px 15px;
    border-radius: 20px;
    line-height: 30px;
    background: #0bbbef;
    color: #fff;
    font-weight: 200;
    transition: all 0.4s;
}

.footer-content-bottom{
    width: 1240px;
    /*height: 90px;*/
    /*background: red;*/
}
.footer-content-bottom-1 ul{
    width: 1000px;
    /*height: 30px;*/
}
.footer-content-bottom-1 li{
    float: left;
}
.footer-content-bottom-1 li a{
    color: #999;
    font-size: 12px;
    transition: all 0.2s;
}
.footer-content-bottom-1 li a:hover{
    color: #31a5e7;
}
.footer-content-bottom-1 li span{
    margin: 0 15px;
    color: #999;
}
.footer-content-bottom-2{
    width: 1000px;
    margin-top: 15px;
}
.footer-content-bottom-2 span{
    color: #999;
    font-size: 12px;
}
.footer-content-bottom-2 .span4{
    margin: 0 10px;
}
.footer-content-bottom-2 .a1{
    margin-left: 10px;
    color: #999;
    font-size: 12px;
}
.footer-content-bottom-2 .a1:hover{
    color: #31a5e7;
}
.footer-content-bottom-2 .a2{
    margin-right: 4px ;
}
.footer-content-bottom-3{
    top: -40px;
    position: relative;
    float: right;
    text-align: center;
    width: 120px;
    height: 56px;
    /*background: #00c3f5;*/
    line-height: 56px;
}
.footer-content-bottom-3 span{
    font-weight: 100;
    margin: 0 5px;
    color: #999;
    opacity: 0.3;
}
